html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

div {
  box-sizing: border-box;
  font-weight: bold;
}

.top{
    width: 100%;
    height: 10%;
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

.top1, .top2{
    float: left;
    width:50%;
}

.top1{
    padding-top: 10px;
}

.top2{
    text-align: right;
    font-size: 1em;
    padding: 8px 8px 0 0;
}

.env::after{
    clear: both;
}


.side{
    float: left;
    height: 90%;
    width: 20%;
    border: double 5px #668ad8;
    background: #f1f8ff;
}

.side_env{
    position: absolute;
    bottom: 30px;
    width: 18%;
    text-align: center;

}

.env_btn{
    width: 80%;
    text-align: center;
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #fd9535;
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    font-weight: bold;
    border: solid 2px #d27d00;
}

.env_btn:active {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.conf, .res, .title {
  float: left;
  width: 76%;
}

.title{
    height: 5%;
    font-size: 1.2em;
    padding-left: 40px
}

.conf{
    height: 38%;
    border: solid 1px #668ad8;
    box-sizing: border-box;
    margin: 0 10px 0 10px;
    padding: 10px 0px 0px 30px;
}

.res{
    height: 47%;
    border: solid 1px #668ad8;
    box-sizing: border-box;
    margin: 0 10px 0 10px;
    padding: 10px 0px 0px 30px;
    overflow: scroll;
    font-size: 1.2em;
}

pre{
    font-size: 1.1em;
}

ul, ol {
    color: #668ad8;
    padding: 0.5em 0.5em 0.5em 0.5em;
    list-style: none;
    text-align: center;
}
ul li, ol li {
    line-height: 1.5;
    padding: 0.8em 0;
}
.square_btn{
    width: 80%;
    text-align: center;
    position: relative;
    display: inline-block;
    font-weight: bold;
    font-size: 1em;
    padding: 0.5em 1em;
    text-decoration: none;
    border-left: solid 4px #668ad8;
    border-right: solid 4px #668ad8;
    color: #668ad8;
    background: #e1f3ff;
    transition: .4s;
}

.square_btn:hover {
    background: #668ad8;
    color: #FFF;
}
h1 {
padding: 0.25em 0.5em;/*上下 左右の余白*/
color: #494949;/*文字色*/
background: transparent;/*背景透明に*/
border-left: solid 5px #7db4e6;/*左線*/
margin-block-start: 0em;
margin-block-end: 0em;
}

.conf1, .conf2{
    float: left;
    width: 50%;
}

.conf2{
    padding-top: 25px;
}

.send{
    display: inline-block;
    position: relative;
    padding: auto;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 5px #36528c;/*ボタン色より暗めに*/
    border-right: solid 5px #5375bd;/*ボタン色より暗めに*/
    height:100px;
    font-size: 3em;
    width:50%
    text-align: center;
}

.send:before{
    content: " ";
    position: absolute;
    bottom: -5px;
    left: -1px;
    width: 0;
    height: 0;
    border-width: 0 6px 6px 0px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #FFF;
}

.send:after{
    content: " ";
    position: absolute;
    top: -1px;
    right: -5px;
    width: 0;
    height: 0;
    border-width: 0px 6px 6px 0px;
    border-style: solid;
    border-color: #FFF;
    border-bottom-color: transparent;
}

.send:active{ /*ボタンを押したとき*/
    border:none;
    -ms-transform: translate(6px,6px);
    -webkit-transform: translate(6px,6px);
    transform: translate(6px,6px);
}

.send:active:after,.square_btn:active:before {
    content: none;/*ボタンを押すと線が消える*/
}

p{
    color: red;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

input{
    border:0;
    padding:10px;
    font-size:1em;
    font-family:Arial, sans-serif;
    color:#aaa;
    border:solid 1px #ccc;
    width:80%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.select {
    overflow: hidden;
    width: 86%;
    text-align: center;
}
.select select {
    width: 100%;
    padding-right: 1em;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    border: none;
    outline: none;
    background: transparent;
    background-image: none;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
}
.select select::-ms-expand {
    display: none;
}
.select {
    position: relative;
    border: 1px solid #bbbbbb;
    border-radius: 2px;
    background: #ffffff;
}
.select::before {
    position: absolute;
    top: 0.8em;
    right: 0.9em;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #666666;
    pointer-events: none;
}
.select select {
    padding: 8px 38px 8px 8px;
    color: #666666;
}

@media screen and (max-width: 750px){
    .side{
        display: none;
    }
    .conf, .res, .title {
      width: 95%;
    }

}